@charset "utf-8";

/*
base style
*/
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}
a {
    text-decoration: underline;
}

/*
img
*/
img {
    max-width: 100%;
}

/*
grid
*/
#monster {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.grid {
    margin: 0;
    padding: 0;
    display: flex;
}
@media (max-width: 480px){
    .grid {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        }
}
.grid-item {
    list-style: none;
}
.grid-col-2 > .grid-item {
    width: 50%;
}
.grid-col-3 > .grid-item {
    width: 33.3%;
    height: 700px;
    margin: 0 20px;
}
@media (max-width: 480px){
    .grid-col-3 > .grid-item {
        margin: 0 5%;
        padding: 0;
        width: 90%;
        height: 800px;
    }
}
.grid-col-4 > .grid-item {
    width: 25%;
    margin: 0 20px 20px;
}
@media (max-width: 480px){
    .grid-col-4 > .grid-item {
        margin: 0;
        padding: 0 5px 20px;
        width: 50%;
    }
}

.grid-col-5 > .grid-item {
    width: 20%;
    margin: 0;
    padding: 0 10px;
}
@media (max-width: 480px){
    .grid-col-5 > .grid-item {
        width: 33.3%;
        margin: 0;
        padding: 0 10px;
    }
}

@media (max-width: 480px){
    .response {
        display: none;
    }
}

/*
table
*/
table, tr, th, td {
    border: solid 1px #333;
}
th {
    text-align: center;
}
@media (max-width: 480px){
    table, tr, th, td {
        font-size: 12px;
        font-weight: normal;
        margin: 0 auto;
    }
}

/*
section
*/
.section-headline {
    color: white;
    background-color: #16354c;
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
@media (max-width: 480px){
    .section-headline {
        color: white;
        background-color: #16354c;
        height: 60px;
        line-height: 60px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin: 0;
    }
}

/*
sub-title
*/
.sub-title {
    margin: 25px 0 20px 20px;
}
.sub-description {
    margin: 0 0 30px 25px;
    line-height: 2;
}
@media (max-width: 480px){
    .sub-title {
        margin: 15px 40px 0;
        font-size: 18px;
    }
    .sub-description {
        margin: 0 0 15px 25px;
        padding: 0 25px;
        line-height: 1.5;
        font-size: 15px;
    }
}
.how-to {
    margin: 0;
}
.how-image {
    margin: 0 8px;
}

/*
topp-image
*/
.top-image {
    margin: 0 10%;
}
/*
cara-name
*/
.cara-name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}
.drop {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}
@media (max-width: 480px){
    .cara-name {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin: 10px 0;
    }
    .drop {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin: 10px 0;
    }
}
.drop-list {
    font-weight: bold;
}
@media (max-width: 480px){
    .drop-list {
        font-weight: normal;
        font-size: 12px;
    }
}
.cara-name-list {
    font-weight: bold;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    margin: 0;
}
@media (max-width: 480px){
    .cara-name-list {
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        margin: 0;
        padding: 3px 0;
    }
}


/*
search
*/
.search {
    text-align: center;
    margin: 20px 20px 0;
}

/*
checkbox
*/

.checkbox {
    text-align: center;
    padding-right: 20px;
}
.type {
    display: inline-block;
    margin: 0;
}
/*fire*/
.hidden-checkbox-fire {
    display: none;
}
.checkbox-fire {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.checkbox-image-fire {
    display: block;
    width: 80px;
    height: 100px;
    background-image: url(../img/無題28_20240501133630.PNG);
    background-size: cover;
}
@media (max-width: 480px){
    .hidden-checkbox-fire {
        display: none;
    }
    .checkbox-fire {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .checkbox-image-fire {
        display: block;
        width: 40px;
        height: 50px;
        background-image: url(../img/無題28_20240501133630.PNG);
        background-size: cover;
    }
}
.hidden-checkbox-fire:checked + .checkbox-image-fire {
    background-image: url(../img/無題28_20240501134229.PNG);
}
/*water*/
.hidden-checkbox-water {
    display: none;
}
.checkbox-water {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.checkbox-image-water {
    display: block;
    width: 80px;
    height: 100px;
    background-image: url(../img/無題28_20240501133928.PNG);
    background-size: cover;
}
@media (max-width: 480px){
    .hidden-checkbox-water {
        display: none;
    }
    .checkbox-water {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .checkbox-image-water {
        display: block;
        width: 40px;
        height: 50px;
        background-image: url(../img/無題28_20240501133928.PNG);
        background-size: cover;
    }
}
.hidden-checkbox-water:checked + .checkbox-image-water {
    background-image: url(../img/無題28_20240501134256.PNG);
}

/*wind*/
.hidden-checkbox-wind {
    display: none;
}
.checkbox-wind {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.checkbox-image-wind {
    display: block;
    width: 80px;
    height: 100px;
    background-image: url(../img/無題28_20240501133535.PNG);
    background-size: cover;
}
@media (max-width: 480px){
    .hidden-checkbox-wind {
        display: none;
    }
    .checkbox-wind {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .checkbox-image-wind {
        display: block;
        width: 40px;
        height: 50px;
        background-image: url(../img/無題28_20240501133535.PNG);
        background-size: cover;
    }
}
.hidden-checkbox-wind:checked + .checkbox-image-wind {
    background-image: url(../img/無題28_20240501134206.PNG);
}

/*right*/
.hidden-checkbox-right {
    display: none;
}
.checkbox-right {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.checkbox-image-right {
    display: block;
    width: 80px;
    height: 100px;
    background-image: url(../img/無題28_20240501133725.PNG);
    background-size: cover;
}
@media (max-width: 480px){
    .hidden-checkbox-right {
        display: none;
    }
    .checkbox-right {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .checkbox-image-right {
        display: block;
        width: 40px;
        height: 50px;
        background-image: url(../img/無題28_20240501133725.PNG);
        background-size: cover;
    }
}
.hidden-checkbox-right:checked + .checkbox-image-right {
    background-image: url(../img/無題28_20240501134309.PNG);
}

/*dark*/
.hidden-checkbox-dark {
    display: none;
}
.checkbox-dark {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.checkbox-image-dark {
    display: block;
    width: 80px;
    height: 100px;
    background-image: url(../img/無題28_20240501134032.PNG);
    background-size: cover;
}
@media (max-width: 480px){
    .hidden-checkbox-dark {
        display: none;
    }
    .checkbox-dark {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .checkbox-image-dark {
        display: block;
        width: 40px;
        height: 50px;
        background-image: url(../img/無題28_20240501134032.PNG);
        background-size: cover;
    }
}
.hidden-checkbox-dark:checked + .checkbox-image-dark {
    background-image: url(../img/無題28_20240501134116.PNG);
}

/*
monster-list
*/
.monster-list {
    margin: 0 15%;
}
@media (max-width: 480px){
    .monster-list {
        margin: 0 10%;
    }
}

ul a {
    text-decoration: none;
    color: black;
}
.example {
    text-align: center;
}
.example li {
    display: inline;
    margin-right: 15px;
}

/*
youtube-X-link
*/
.icon {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 0;
    margin: auto;
}
.youtube-headline {
    color: white;
    background-color: #b92e34;
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
@media (max-width: 480px){
    .youtube-headline {
        color: white;
        background-color: #b92e34;
        height: 60px;
        line-height: 60px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin: 0;
    }
}
.youtube {
    margin: 0 auto 30px;
    width: 950px;
    height: 534px;
}
@media (max-width: 480px){
    .youtube {
        margin: 0 auto 20px;
        width: 400px;
        height: 224px;
    }
}
.X-headline {
    color: white;
    background-color: #333;
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
@media (max-width: 480px){
    .X-headline {
        color: white;
        background-color: #333;
        height: 60px;
        line-height: 60px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin: 0;
    }
}
.X-post {
    margin: 0 5%;
}
.post-description {
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

/*
toppage-link
*/
.toppage-box {
    text-align: center;
    margin: 15px 0 25px;
}
.toppage-link {
    display: inline-block;
    text-decoration: none;
    border: 0;
    line-height: 2;
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #16354c;
}


/*
footer
*/
.footer {
    background-color: #333;
    color: #fff;
}
.footer-copy {
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}
@media (max-width: 480px){
    .footer-copy {
        font-size: 12px;
        line-height: 50px;
    }
}
footer a {
    color: #fff;
    margin-left: 20px;
}

